services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: tira-time-backend:latest
    container_name: tira_time_backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    volumes:
      - ./backend:/app

  # frontend:
  #   image: nginx:alpine
  #   container_name: tira_time_frontend
  #   ports:
  #     - "5500:80"   # acesse http://localhost:5500
  #   volumes:
  #     - ./frontend:/usr/share/nginx/html:ro
  #   depends_on:
  #     - backend
  #   restart: unless-stopped

networks:
  default:
    name: tira_time_network