services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: tira-time-backend:latest
    container_name: tira_time_backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    volumes:
      - ./backend:/app
  frontend:
    build:
      context: ./frontend
    container_name: tira_time_front
    volumes:
      - ./frontend:/usr/share/nginx/html
    ports:
      - "3000:80"
    restart: unless-stopped

networks:
  default:
    name: tira_time_network